services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - mix-deps:/workspace/deps
      - mix-build:/workspace/_build
      - demo-deps:/workspace/demo/deps
      - demo-build:/workspace/demo/_build
    command: sleep infinity
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/demo_dev
      - TEST_DATABASE_URL=postgres://postgres:postgres@db:5432/demo_test
      - MIX_ENV=dev
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: demo_dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
  mix-deps:
  mix-build:
  demo-deps:
  demo-build:
